NODE_ENV=development
PORT=5000
CORS_ORIGIN=*

MONGO_URI=mongodb://127.0.0.1:27017/livehub
REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=replace_with_a_long_random_string_min_32_chars
JWT_EXPIRES_IN=7d

LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=replace_with_livekit_api_secret_min_32_chars
LIVEKIT_SERVER_URL=ws://localhost:7880

LOG_LEVEL=info
